---
import type { Category } from '@/utils/get-categories'

interface Props {
  parentUrl?: string
  categories: Category[]
}

const { parentUrl = '/categories', categories } = Astro.props
---

<ul class="border-sidebar-border ml-6.5 flex flex-col min-w-0 gap-1 border-l pl-2.5 py-0.5">
  {categories.map((category) => (
    <li>
      <a href={`${parentUrl}/${category.name}`} class="relative flex items-center px-3 py-2 text-sm font-medium rounded-sm hover:bg-muted">
        <span class="text-sm px-2">{category.name}</span>
        <span class="pointer-events-none absolute right-2 flex h-5 min-w-5 select-none items-center justify-center rounded-md px-1 text-xs font-medium tabular-nums">{category.count}</span>
      </a>
      {category.children && (
        <div>
          <Astro.self parentUrl={`${parentUrl}/${category.name}`} categories={category.children} />
        </div>
      )}
    </li>
  ))}
</ul>
